<nav class="navbar navbar-dark navbar-expand-lg bg-lasmarias" id="toolbarAdmin" style="display: block;">
  <div class="container">
      <div class="row">
    <div class="container">
        <div class="row">
          <div class="col-md-3">
            <img
              src="./Image/HotChilli.png"
              style="height: 100px"
              alt="Logo las marias"
            />
          </div>
          <div class="col-9">
            <div class="row">
                <h1 class="">Las Marias</h1>
            </div>
          </div>
        </div>
      </div>
    <button
      class="navbar-toggler"
      type="button" id="hamburger"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse" id="navbar"
    >
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a
            class="nav-link"
            aria-current="page"
            href="#"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#artikellist">Speisen Verwalten</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Verwaltung
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" id="person-list" href="#personlist">Personenverwaltung</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"></a>
            </li>
            <li>
              <a class="dropdown-item" href="#"
                ></a
              >
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a id="buttonLogout">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
</nav>