<footer class="bg-wifi py-5 d-none"  id="containerStandard">
      <div class="row">
        <div class="col-12 col-md-6">
          <iconify-icon icon="bi:c-circle" class="me-2"></iconify-icon>
          <span class="text-light fw-bold">Las Marias - Mexican Food</span>
        </div>
        <div
          class="col-12 col-md-6 d-flex justify-content-start justify-content-md-end"
        >
          <iconify-icon icon="arcticons:mapsgeobookmarks"></iconify-icon>
          <address>Mustersstraße 5</address>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <iconify-icon icon="bi:telephone-fill" class="me-2"></iconify-icon>
          <span class="text-light fw-bold">+43 662 5129210</span>
        </div>
        <div
          class="col-12 col-md-6 d-flex justify-content-start justify-content-md-end"
        >
          <iconify-icon icon="bi:envelope" class="me-2 fs-4"></iconify-icon>
          <span class="text-light fw-bold"
            ><a href="mailto:Lasmarias@gmx.at">Lasmarias@gmx.at</a></span
          >
        </div>
      </div>
    </div>
  </footer>